<nav>
    <div class="site-title">
        <a href="/">
            <h1>The Blog</h1>
        </a>
        <p>Asem Blog Site</p>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/posts">Posts</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/posts/create">Create</a></li>
        <li><a href="/login">Login</a></li>
    </ul>
</nav>